.DS_Store
node_modules/
/temp/
/dest/
/src/style/env.scss
/build/single_entry.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
