<!DOCTYPE html>
<html>
  <head>
    <% var config = htmlWebpackPlugin.options %>
    <% var opt = config.opt %>
    <meta charset="utf-8">
    <title><%= config.title %></title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
