%colorRed{
  color: red;
};

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:global(.layout) {
  padding: 20px;
}

.text {
  font-size: 14px;
  @extend %colorRed;
  padding: 5px;
  background: #d1d1d1;
}
